ion-content {
    .main_div {
        padding-top: 70px;
    }
    .info_p {
        text-align: center;
        font-size: 20px;
        color: var(--my-theme);
    }
    ion-input {
        box-shadow: 0px 0px 2px 2px #70707024;
        // margin: 0px 10px 0px 10px;
    }
}

ion-footer {}