ion-content {
  .main_div {
    margin-top: 30px;
    .text_p {
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
      font-size: 16px;
    }
    .dataitem {
      --border-radius: 5px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      margin-top: 20px;
      margin-bottom: 25px;
      .icon_img {
        margin-right: 15px;
        height: 18px;
        width: 18px;
      }
      ion-input {
        --placeholder-color: var(--ion-color-placeholder-gray);
        font-size: 16px;
        --placeholder-font-style: "Poppins-Regular";
        --placeholder-opacity: 1;
        font-family: "Poppins-Regular";
      }
    }
    ion-button {
      margin: 0;
      --border-radius: 25px;
      margin-top: 20px;
      height: 46px;
    }
  }
}
