ion-content {
  .main_div {
    padding-bottom: 10px;
    .card_div {
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
      margin-top: 20px;
      display: flex;
      border-radius: 5px;
      height: 95px;
      .first_col {
        width: 24%;

        img {
          height: 100%;
          border-radius: 5px;
        }
      }
      .second_col {
        padding-left: 10px;
        width: 73%;
        position: relative;

        .tittle {
          font-size: 16px;
          font-family: "Poppins-SemiBold";
          color: var(--ion-color-darkBlue);
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .discount {
          font-size: 12px;
          font-family: "Poppins-Regular";
          color: var(--ion-color-gray);
          margin-top: 3px;
          margin-bottom: 3px;
        }
        .last_div {
          display: flex;
          justify-content: space-between;
          .coopan_div {
            height: 20px;
            border: dashed 1px var(--ion-color-border-red);
            background-color: var(--ion-color-lbl-color);
            padding: 3px 8px;
            .coopan {
              font-size: 10px;
              font-family: "WorkSans_Regular";
              color: var(--ion-color-black);
              margin: 0px;
            }
          }
          .trans-btn {
            font-size: 10px;
            font-family: "Poppins-Medium";
            --color: var(--ion-color-green);
            margin: 0px;
            height: 30px;
          }
        }
        .trans-btn {
          font-size: 10px;
          font-family: "Poppins-Medium";
          --color: var(--ion-color-green);
          margin: 0px;
          height: 25px;
        }
      }
    }
  }
}

.hide_div {
  display: none;
}
