ion-header {
  ion-toolbar {
    ion-title {
      font-family: "fivo-regular";
      text-transform: uppercase;
    }
    ion-back-button {
      color: var(--ion-color-green);
    }
  }
  .search_div {
    margin: 0px 8px;
  }
}
ion-content {
  .store_div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 16px 10px 16px;
    flex: 1 1;
    justify-content: space-between;
    .product_div {
      width: 48%;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 10px 7px;
      margin-bottom: 20px;
      text-align: center;
      .name {
        margin-top: 5px;
        font-size: 18px;
        color: var(--light-black-color);
        font-family: "fivo-regular";
        margin-bottom: 2px;
      }
      img {
        height: 123px;
        width: 100%;
        object-fit: scale-down;
      }
    }
  }
}
