ion-content{
    .main_div{
        text-align: center;
        padding-top: 30px;
        .chat_div{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            #talkbubble {
                width: 74%;
                height: 80px;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
                background: var(--ion-color-sky);
                position: relative;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                text-align: left;
                  padding: 0px 5px 0px 26px;
                .msg{
                        font-size: 16px;
                        color: var(--ion-color-black);
                        font-family: 'Poppins-Regular';
                }
              }
              #talkbubble:before {
                content: "";
                position: absolute;
                left: 100%;
                top: 35px;
                width: 0;
                height: 0;
                border-left: 22px solid var(--ion-color-sky);
                border-bottom: 18px solid transparent;
              }
              #talk{
                width: 74%;
                height: 80px;
                box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.16);
                background: var(--ion-color-sky);
                position: relative;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;
                border-radius: 10px;
                text-align: left;
                padding: 0px 26px 0px 15px;
                .msg{
                        font-size: 16px;
                        color: var(--ion-color-black);
                        font-family: 'Poppins-Regular';
                }
              }
              #talk:before {
                content: "";
                position: absolute;
                right: 100%;
                top: 35px;
                width: 0;
                height: 0;
                border-right: 26px solid var(--ion-color-sky);
                border-bottom: 13px solid transparent;
 
              }
              img{
                align-self: center;
                height: 45px;
                width: 45px;
                border-radius: 50%;
              }
        }
      
    }
   
}

ion-footer{
    ion-item{
        --inner-padding-end: 0px;
        ion-input{
            height: 50px;
            font-size: 14px;
            font-family: 'WorkSans_Regular';
            color: var(--ion-color-darkgray);
            --placeholder-opacity:1;
        }
        .send{
            --background: var(--ion-color-green);
            height: 50px;
            width: 70px;
             margin: 0;
              --border-radius: 0px;
              --background-activated:var(--ion-color-green);
        }
    }


}