ion-slides {
  position: absolute;
  bottom: 0;
  width: 100%;
  ion-slide {
    min-height: 125px;
    align-items: inherit !important;
    justify-content: inherit !important;
    padding: 16px;
    background-image: var(--timeline);
    img {
      border-radius: 50%;
      border: 3px solid var(--ion-color-white);
      box-shadow: 0px 0px 4px 0px var(--dash-border);
      height: 60px;
      width: 60px;
      object-fit: fill;
    }
    .items {
      margin: 0px 17px;
      h2 {
        font-size: 14px;
        font-family: "Poppins-Medium";
        margin: 0;
        color: var(--ion-color-white);
        text-align: initial;
      }
      p {
        font-size: 12px;
        font-family: "Poppins-Medium";
        margin: 0;
        color: var(--ion-color-white);
        text-align: initial;
        letter-spacing: 1;
        display: flex;
        margin-top: 4px;
        .title {
          flex: 1;
          margin-right: 10px;
          flex-grow: 1;
          flex-shrink: 1;
        }
        .orderList {
          display: flex;
          flex-direction: column;
          overflow: hidden;
        }
      }
    }
    .price {
      font-size: 14px;
      font-family: "Poppins-Medium";
      margin: 0;
      color: var(--ion-color-white);
      text-align: initial;
      align-self: center;
    }
    ion-button {
      --box-shadow: none;
      --border-radius: 50px 0px 0px 50px;
      --background: var(--ion-color-green);
      --background-activated: var(--ion-color-green);
      position: absolute;
      right: 0;
      bottom: 15px;
      margin: 0;
      margin-top: 17px;
      font-size: 10px;
      font-family: "Poppins-Medium";
      height: 26px;
      width: 150px;
      ion-icon {
        margin-right: 8px;
      }
      a {
        color: var(--ion-color-white);
        text-decoration: none;
      }
    }
  }
}

.otherBtn {
  --box-shadow: none;
  --border-radius: 50px 0px 0px 50px;
  --background: var(--ion-color-green);
  --background-activated: var(--ion-color-green);
  bottom: 15px;
  margin: 0;
  margin-top: 17px;
  font-size: 10px;
  font-family: "Poppins-Medium";
  height: 26px;
  position: absolute;
  top: 0;
  right: 0;
  width: 122px;
  &.next {
    --background: var(--my-red-light);
    top: 38px !important;
    right: 0;
  }
}

.footerBtn {
  --box-shadow: none;
  --border-radius: 50px 0px 0px 50px;
  --background: var(--ion-color-btn-color);
  --background-activated: var(--ion-color-btn-color);
  bottom: 15px;
  margin: 0;
  margin-top: 17px;
  font-size: 12px;
  font-family: "Poppins-Medium";
  height: 33px;
  position: absolute;
  bottom: 33px;
  right: 0;
  width: 135px;
  text-transform: capitalize;
}

ion-footer {
  padding: 29px 32px 0px;
  .timeline {
    display: flex;
    position: relative;
    .lines {
      transition: all 1s ease;
      background: var(--ion-color-green);
      width: 5px;
      &.disbale {
        background: var(--light-gray);
      }
      &.last {
        opacity: 0;
      }
    }
    .dot {
      height: 11px;
      background: var(--ion-color-green);
      width: 11px;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: -3px;
      &.disbale {
        background: var(--light-gray);
      }
    }
    .text {
      font-size: 14px;
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
      margin: 0;
      padding-bottom: 28px;
      margin-left: 22px;
    }
    .pulsating-circle {
      left: 2px;
      top: 5px;
      transform: translateX(-50%) translateY(-50%);
      &:before {
        content: "";
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 45px;
        background-color: var(--ion-color-green);
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        border-radius: 15px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s
          infinite;
      }
    }
    @keyframes pulse-ring {
      0% {
        transform: scale(0.33);
      }
      80%,
      100% {
        opacity: 0;
      }
    }
    @keyframes pulse-dot {
      0% {
        transform: scale(0.8);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(0.8);
      }
    }
  }
}

.slides-md {
  --bullet-background: var(--ion-color-green) !important;
  --bullet-background-active: var(--ion-color-green) !important;
}

.slides-ios {
  --bullet-background: var(--ion-color-green) !important;
  --bullet-background-active: var(--ion-color-green) !important;
}
agm-map {
  height: 100%;
  width: 100%;
}
