ion-header {
  ion-title {
    font-family: "fivo-regular";
    text-transform: uppercase;
  }
  ion-back-button {
    --icon-font-size: 16px;
  }
  .search_div {
    padding: 0px 8px;
  }
}
ion-content {
  .store_div {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 16px 10px 16px;
    flex: 1 1;
    justify-content: space-between;
    .product_div {
      width: 48%;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 10px 7px;
      margin-bottom: 20px;
      position: relative;
      .new_div {
        width: 51px;
        height: 17px;
        background-color: var(--green-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 2px;
        .new_p {
          font-size: 8px;
          color: var(--ion-color-white);
          font-family: "Poppins-Medium";
          margin: 0;
        }
      }
      .img_div {
        text-align: center;
        padding: 45px 0px 20px 0px;
        img {
          max-width: 115px;
          height: 60px;
          width: 100%;
          object-fit: scale-down;
        }
      }

      .name {
        font-size: 18px;
        color: var(--light-black-color);
        font-family: "fivo-regular";
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
      }
      .organic_div {
        padding: 5px 0px;
        display: flex;
        align-items: center;
        .dot_div {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: var(--green-color);
          margin: 0px 5px;
        }
        .or_lbl {
          font-size: 14px;
          color: var(--border-color);
          font-family: "fivo-regular";
          margin: 0;
        }
      }
      .away_lbl {
        font-size: 12px;
        font-family: "fivo-regular";
        margin: 0;
        color: var(--border-color);
        text-align: center;
        ion-icon {
          color: var(--ion-color-green);
        }
      }
    }
  }
}
