ion-header {
  ion-toolbar {
    ion-title {
      font-family: "fivo-regular";
      text-transform: uppercase;
    }
    ion-back-button {
      color: var(--ion-color-green);
    }
  }

  .segment_div {
    padding: 10px 0px;
    margin: 0px 16px;
  }
  ion-segment {
    --background: var(--white);
    // border-radius: 20px;
    // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    ion-segment-button {
      margin: 0;
      --indicator-color: var(--ion-color-green);
      --color: var(--ion-color-green);
      --color-checked: var(--ion-color-white);
      --border-radius: 3px;
      --background-checked: var(--ion-color-green);
      min-height: 35px;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "fivo-regular";
    }
  }
}
ion-content {
  .card_item {
    display: flex;
    padding-bottom: 10px;
    margin-top: 15px;
    border-bottom: dotted;
    border-bottom-width: 1px;
    border-bottom-color: var(--ion-border-color);
    .img_div {
      height: 56px;
      width: 56px;
      min-width: 56px;
      border-radius: 3px;
      background-color: var(--img_back);
      img {
      }
    }

    .info_div {
      padding-left: 15px;
      width: 100%;
      .name {
        font-size: 16px;
        color: var(--light-black-color);
        font-family: "fivo-medium";
        margin: 0;
      }
      .type {
        font-size: 14px;
        font-family: "fivo-regular";
        color: var(--border-color);
        margin-top: 3px;
        margin-bottom: 2px;
      }
      .qty {
        font-size: 12px;
      }
      .price_div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
          font-size: 12px;
          font-family: "fivo-medium";
          color: var(--green-color);
          margin: 0;
        }
        .add_div {
          display: flex;
          align-items: center;
        }
      }
      .btn_div {
        display: flex;
        border: solid 1px;
        border-radius: 3px;
        border-color: var(--ion-color-light-gray);
        height: 25px;
        width: 77px;
        margin-left: 10px;
        .add-btn {
          --padding-start: 0px;
          --padding-end: 0px;
          margin: 0px;
          width: 25px;
          height: 24px;
          --background: transparent;
          --color: var(--ion-color-dark-gray);
          --box-shadow: none;
          --border: none;
          --ripple-color: var(--ion-color-white);
          --background-activated: none;
          ion-icon {
            color: var(--ion-color-darkgray);
            width: 15px;
          }
          .add {
            color: var(--ion-color-green);
          }
        }
        .one {
          width: 25px;
          padding-top: 1px;
          text-align: center;
          font-size: 12px;
          color: var(--ion-color-green);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  .couponItem {
    --detail-icon-color: var(--ion-color-green);
    --detail-icon-opacity: 1;
    padding-bottom: 5px;
    .combo {
      font-family: "Poppins-Medium";
      font-size: 14px;
      color: var(--ion-color-green);
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: 10px;
      }
    }
  }
  .devider_div {
    height: 25px;
    background-color: var(--divder);
    margin-bottom: 5px;
  }
  .bill_detail {
    .combo {
      font-size: 14px;
      color: var(--ion-color-darkBlue);
      font-family: "fivo-medium";
    }
    .bill_item {
      font-size: 12px;
      font-family: "fivo-medium";
      color: var(--ion-color-darkBlue);
    }
    .total {
      color: var(--ion-color-green);
      font-size: 12px;
      font-family: "fivo-medium";
      border-bottom: dashed 1px var(--ion-border-color);
      margin-bottom: 0px;
      padding-bottom: 10px;
    }
    .cancel_fee {
      margin-bottom: 0px;
      padding-bottom: 10px;
      border-bottom: dashed 1px var(--ion-border-color);
    }
    .saved {
      background-color: var(--ion-color-light-green);
      border: dashed 1px var(--ion-color-green);
      height: 26px;
      color: var(--ion-color-green);
      font-size: 11px;
      font-family: "fivo-medium";
      padding: 5px;
      margin-bottom: 15px;
    }
  }
  .last_div {
    .sel_lbl {
      font-size: 12px;
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
    }
    .address_div {
      display: flex;
      .pin_div {
        padding-top: 3px;
        width: 8%;
        ion-icon {
          color: var(--ion-color-green);
        }
      }
      .adress {
        width: 66%;
        .adress_p {
          font-size: 12px;
          font-family: "Poppins-Regular";
          color: var(--ion-color-darkgray);
          margin-top: 0;
          margin-bottom: 7px;
        }
      }
      .change {
        display: flex;
        width: 24%;
        .change_ad {
          font-size: 9px;
          font-family: "Poppins-Regular";
          --color: var(--ion-color-green);
          text-transform: capitalize;
          height: 15px;
          margin: 0;
          --ripple-color: var(--ion-color-white);
          --color-activated: none;
        }
      }
    }
    #map {
      height: 140px;
      margin-bottom: 20px;
      agm-map {
        height: 100%;
        width: 100%;
      }
    }
  }
}
ion-footer {
  ion-button {
    font-family: "fivo-regular";
  }
}
