ion-header {
  padding: 10px 5px 3px 14px;
  ion-toolbar {
    .locationContent {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
      .textContent {
        .location {
          font-family: "";
          font-size: 14px;
          margin: 0;
          font-size: 16px;
          margin: 0;
          display: flex;
          align-items: center;
          color: var(--ion-color-darkBlue);
          img {
            margin-left: 6px;
          }
        }
        .address {
          margin: 0;
          color: var(--ion-color-darkBlue);
          font-family: Poppins-Medium;
          line-height: 1;
          font-size: 13px;
          margin-top: 4px;
          line-height: 15px;
        }
      }
    }
  }
}

ion-content {
  .main_lbl {
    margin-top: 10px;
    font-size: 18px;
    color: var(--light-black-color);
    font-family: "fivo-regular";
    padding: 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .more_btn {
      font-size: 14px;
      text-transform: capitalize;
      --color: var(--green-color);
      height: 20px;
    }
  }
  .trending_div {
    display: -webkit-box;
    overflow-x: auto;
    padding: 10px 0px 10px 16px;
    .product_div {
      width: 145px;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 10px 7px;
      margin-right: 16px;
      .img_div {
        display: flex;
        justify-content: center;
        padding: 10px 0px 20px 0px;
        img {
          height: 100px;
          width: 80px;
        }
      }
      .name {
        font-size: 15px;
        font-family: "fivo-regular";
        color: var(--ion-color-darkBlue);
        margin: 0;
      }
      .qunty {
        font-size: 12px;
        color: var(--border-color);
        font-family: "fivo-regular";
        margin: 4px 0px;
      }
      .price {
        font-size: 14px;
        color: var(--green-color);
        font-family: "fivo-regular";
        margin: 0;
      }
    }
    .btn_div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .add_btn {
        height: 15px;
        width: 15px;
        --background: var(--ion-color-darkBlue);
        --background-activated: var(--ion-color-darkBlue);
        // --border-radius: 2px;
        ion-icon {
          height: 9px;
          width: 9px;
        }
      }
      .qty_p {
        font-size: 14px;
        color: var(--border-color);
        font-family: "fivo-regular";
        margin: 0 5px;
        padding-top: 2px;
      }
      .qty_div {
        display: flex;
        align-items: center;
      }
    }
  }
  .trending_div::-webkit-scrollbar {
    display: none;
  }
  .offer_div {
    height: 107px;
    margin: 15px 0px;
    background-color: var(--light-green-color);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 152px;
      height: 38px;
    }
    .detail_div {
      text-align: end;
      .discount {
        font-size: 20px;
        color: var(--light-black-color);
        font-family: "fivo-medium";
        margin: 0;
      }
      .text_lbl {
        font-size: 17px;
        color: var(--light-black-color);
        font-family: "fivo-regular";
        margin: 0;
      }
    }
  }
  .store_div {
    display: -webkit-box;
    overflow-x: auto;
    padding: 10px 0px 10px 16px;
    .product_div {
      width: 145px;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 10px 7px;
      margin-right: 16px;
      position: relative;
      .new_div {
        width: 51px;
        height: 17px;
        background-color: var(--green-color);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 2px;
        .new_p {
          font-size: 8px;
          color: var(--ion-color-white);
          font-family: "Poppins-Medium";
          margin: 0;
        }
      }
      .img_div {
        text-align: center;
        padding: 45px 0px 20px 0px;
        img {
          max-width: 115px;
        }
      }

      .name {
        font-size: 18px;
        color: var(--light-black-color);
        font-family: "fivo-regular";
        margin-top: 0;
        margin-bottom: 5px;
        text-align: center;
      }
      .organic_div {
        padding: 5px 0px;
        display: flex;
        align-items: center;
        .dot_div {
          height: 5px;
          width: 5px;
          border-radius: 50%;
          background-color: var(--green-color);
          margin: 0px 5px;
        }
        .or_lbl {
          font-size: 14px;
          color: var(--border-color);
          font-family: "fivo-regular";
          margin: 0;
        }
      }
      .away_lbl {
        font-size: 12px;
        font-family: "fivo-regular";
        margin: 0;
        color: var(--border-color);
        text-align: center;
      }
    }
  }
  .store_div::-webkit-scrollbar,
  .categories_div::-webkit-scrollbar {
    display: none;
  }
  .money_offer {
    height: 107px;
    margin: 15px 0px;
    background-color: var(--light-green-color);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    .detail_div {
      width: 64%;
      padding-left: 15px;
    }

    .discount {
      font-size: 18px;
      font-family: "fivo-medium";
      color: var(--coupon_green);
      margin-top: 0;
      margin-bottom: 5px;
    }
    .text_lbl {
      font-size: 14px;
      color: var(--coupon_green);
      opacity: 0.6;
      font-family: "fivo-medium";
      margin: 0;
    }
  }
  .categories_div {
    display: -webkit-box;
    overflow-x: auto;
    padding: 10px 0px 10px 16px;

    .product_div {
      width: 145px;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 0px 0px 10px 0px;
      text-align: center;
      margin-right: 16px;
      .name {
        margin-top: 5px;
        font-size: 18px;
        color: var(--light-black-color);
        font-family: "fivo-regular";
        margin-bottom: 2px;
      }
    }
  }
}
