ion-content {
  .logo_div {
    margin-top: 25px;
    position: relative;
    height: 290px;

    .logo_text {
      font-size: 40px;
      font-family: 'PlayfairDisplay_Bold';
      color: var(--ion-color-green);
      margin-top: 10px;
    }

    .msg {
      font-family: 'Poppins-Regular';
      font-size: 14px;
      color: var(--ion-color-darkgray);
    }

    .backBtn {
      --padding-start: 0;
      --padding-end: 0;
      width: auto;

      ion-icon {
        color: var(--ion-color-black) !important;
        font-size: 24px;
      }
    }

    .otp-input-div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 56px 16px 0px;
      box-shadow: 0px 0px 2px 2px #70707024;
      border-radius: 5px;
      padding: 19px;

      ion-input {
        width: 44px;
        height: 44px;
        margin-right: 24px;
        text-align: center;
        --padding-start: 0px;
        font-size: 19px;
        color: var(--ion-color-darkBlue);
        border-bottom: 1px solid;
        font-family: 'Poppins-Medium';
        border-bottom: 2px solid #CFCFCF;

        &:last-child {
          margin-right: 0px;
        }
      }

      .otp-fill {
        border-bottom: 2px solid var(--ion-color-green);
      }
    }

    .resend-btn {
      font-size: 16px;
      font-family: 'Poppins-Regular';
      --color: var(--ion-color-darkBlue);
      width: auto;
      margin: 0;
      margin-top: 5px;
      float: right;
      margin-right: 16px;
    }
  }

  .mainBtn {
    margin: 11px 5px 0px;
    height: 50px;
    --box-shadow: none;
    margin-top: 7vh;
    --background: var(--ion-color-green);
    font-family: 'Poppins-Medium';
    font-size: 18px;
    float: unset;
    margin-top: 58px;
  }
}