ion-header {
    ion-toolbar {
        ion-title {
            font-family: "fivo-regular";
            text-transform: uppercase;
        }
        ion-back-button {
            color: var(--ion-color-green);
        }
    }
}

ion-content {
    .btn {
        ion-button {
            height: 26px;
            --border-radius: 0px;
            background-color: var(--ion-color-green);
            font-size: 13px;
        }
    }
    .main_heading {
        font-size: 16px;
        font-family: "Poppins-Medium";
        color: var(--ion-color-darkBlue);
    }
    .card_div {
        border-radius: 5px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
        padding: 5px 10px 5px 10px;
        margin-bottom: 20px;
        ion-item {
            --padding-start: 0px;
            --inner-padding-end: 0;
            border-bottom: dashed 1px var(--ion-border-color);
            padding-bottom: 10px;
            img {
                height: 56px;
                width: 56px;
                border-radius: 3px;
                object-fit: scale-down;
            }
            .status {
                font-size: 12px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-green);
                align-self: center;
            }
            .first_label {
                margin-left: 10px;
            }
            .trans-btn {
                color: var(--ion-color-green);
                position: absolute;
                right: 0;
                text-transform: capitalize;
                font-size: 11px;
                height: 14px;
                bottom: 5px;
                font-family: "Poppins-Medium";
            }
            ion-label {
                width: 160px;
                .name {
                    font-size: 14px;
                    font-family: "Poppins-Medium";
                    color: var(--ion-color-darkBlue);
                    display: flex;
                    justify-content: space-between;
                }
                .address {
                    font-size: 10px;
                    font-family: "Poppins-Regular";
                    color: #758faa;
                    line-height: 15px;
                    width: 160px;
                }
            }
        }
        .menu {
            font-size: 12px;
            font-family: "WorkSans-Medium";
            color: var(--ion-color-darkgray);
        }
        .order {
            color: var(--ion-color-darkBlue);
            font-size: 12px;
            font-family: "Poppins-Medium";
        }
        .order_btn {
            --color: var(--ion-color-red);
            font-size: 12px;
        }
        .promocode {
            color: var(--ion-color-green);
        }
        .saving {
            font-size: 14px;
        }
        .last_item {
            border: none;
        }
    }
    .review_div {
        .btn_div {
            display: flex;
            margin-bottom: 15px;
            ion-button {
                height: 50px;
                width: 50%;
                --border-radius: 5px;
                text-transform: capitalize;
                font-size: 14px;
                --color-activated: var(--ion-color-green);
                font-family: "Poppins-Medium";
            }
            .rate_meal {
                --border-color: var(--ion-color-green);
                --color: var(--ion-color-green);
            }
            .delivery_btn {
                --background: var(--ion-color-green);
                --color: var(--ion-color-white);
                --border-color: var(--ion-color-green);
            }
        }
        .rate_delivery_div {
            .first_div {
                display: flex;
                margin-bottom: 10px;
                .img_div {
                    width: 18%;
                    img {
                        height: 59px;
                        width: 59px;
                        border-radius: 50%;
                        object-fit: scale-down;
                    }
                }
                .text_div {
                    padding-left: 15px;
                    width: 82%;
                    .name {
                        font-size: 14px;
                        color: var(--ion-color-darkBlue);
                        font-family: "Poppins-Medium";
                        margin-top: 7px;
                        margin-bottom: 0px;
                    }
                    .text {
                        font-size: 10px;
                        color: var(--ion-color-darkBlue);
                        font-family: "Poppins-Regular";
                        margin-top: 5px;
                    }
                    .rate_star {
                        margin-top: 8px;
                        margin-bottom: 8px;
                        ion-icon {
                            color: var(--ion-color-green);
                            height: 17px;
                            width: 19px;
                        }
                    }
                }
            }
            .star_div {
                text-align: center;
                ion-icon {
                    width: 24px;
                    height: 22px;
                    color: var(--ion-color-green);
                }
            }
            ion-textarea {
                border: solid 1px var(--ion-color-darkBlue);
                border-radius: 5px;
                --placeholder-color: var(--ion-color-darkgray);
                --placeholder-font-style: "Poppins-Italic";
                font-family: "Poppins-Italic";
                font-size: 13px;
                height: 50px;
            }
            .submit_btn {
                height: 50px;
                --border-radius: 25px 0px 0px 25px;
                --background: var(--ion-color-btn-color);
                --color: var(--ion-color-white);
                text-transform: uppercase;
                margin-top: 30px;
                margin-right: 0;
                width: 100px;
                --box-shadow: none;
            }
        }
        .rate_meal_div {
            .text_p {
                font-size: 14px;
                color: var(--ion-color-darkBlue);
                font-family: "Poppins-Medium";
                padding-left: 16px;
            }
            .text_div {
                .rate_star {
                    margin-top: 8px;
                    margin-bottom: 8px;
                    ion-icon {
                        color: var(--ion-color-green);
                        height: 17px;
                        width: 19px;
                    }
                }
            }
        }
        .submit_div {
            margin-bottom: 5px;
            text-align: end;
        }
    }
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    white-space: normal;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
    white-space: normal !important;
}