ion-header {
    ion-toolbar {
        ion-title {
            font-family: "fivo-regular";
            text-transform: uppercase;
        }
        ion-back-button {
            color: var(--ion-color-green);
        }
    }
}

ion-content {
    .hr {
        background-color: #F1F4F6;
        height: 20px;
        margin-top: 30px;
    }
    .review_divison {
        margin-top: 20px;
        .h3 {
            font-size: 17px;
            color: #29335C;
            font-family: fivo-regular;
            margin-left: 18px;
            font-weight: bold;
            margin-bottom: 13px;
        }
    }
    .review_div {
        margin-bottom: 15px;
    }
    .profile_div {
        margin-bottom: 15px;
    }
    .review_item {
        ion-avatar {
            align-self: baseline;
            img {
                border: solid 3px var(--ion-color-white);
                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
            }
        }
        ion-label {
            white-space: normal;
            .name {
                font-size: 12px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-darkBlue);
                margin: 0;
            }
            .ago {
                font-size: 10px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-darkgray);
                margin-top: 3px;
                margin-bottom: 3px;
            }
            .detail {
                font-size: 10px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-darkgray);
                margin: 0;
                line-height: 15px;
            }
            .first_icon {
                color: var(--ion-color-green);
            }
            .last_icon {
                color: var(--ion-star-color);
            }
        }
    }
    .photo_div {
        margin: 0px 15px;
        img {
            border-radius: 5px;
            margin-bottom: 6px;
        }
    }
    .profile_div {
        .profile_item {
            margin: 0 20px;
            --padding-start: 0px;
            --padding-end: 0px;
            border-bottom: dashed 1px var(--ion-border-color);
            .tittle {
                font-size: 16px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-green);
            }
            .data {
                font-size: 14px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-darkBlue);
            }
        }
        .save_btn {
            --background: var(--ion-color-green);
            margin-left: 16px;
            margin-top: 16px;
        }
    }
    .detail_div {
        .img_div {
            text-align: center;
            img {
                width: 200px;
                height: 170px;
            }
        }
        .name {
            font-size: 22px;
            color: var(--ion-color-darkBlue);
            font-family: "fivo-medium";
            margin: 0;
        }
        .qty {
            color: var(--border-color);
            font-family: "fivo-regular";
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 20px;
            .price {
                color: var(--green-color);
                font-size: 20px;
            }
        }
        .product_detail {
            font-size: 16px;
            font-family: "fivo-regular";
            margin: 0;
            color: var(--border-color);
        }
    }
}

ion-footer {
    .cart_div {
        height: 50px;
        background-color: var(--green-color);
        border-radius: 5px;
        display: flex;
        padding: 0px 16px;
        align-items: center;
        justify-content: space-between;
        .add_btn {
            height: 17px;
            width: 18px;
            --background: var(--cart_btn);
            --background-activated: var(--cart_btn);
            // --border-radius: 2px;
            ion-icon {
                height: 9px;
                width: 9px;
            }
        }
        .qty_p {
            font-size: 17px;
            color: var(--ion-color-white);
            font-family: "fivo-regular";
            margin: 0 5px;
            padding-top: 2px;
        }
        .qty_div {
            display: flex;
            align-items: center;
        }
        .cart_lbl {
            font-size: 18px;
            color: var(--ion-color-white);
            font-family: "fivo-regular";
            margin: 0;
        }
    }
}