ion-content {
    position: relative;
    ion-header {
        position: fixed;
        top: 0px;
        left: 0px;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
            transform-style: flat;
            transition: background-color 0.5s ease-in 0.5s;
            ion-buttons {
                ion-back-button {
                    --color: var(--ion-color-white) !important;
                }
                ion-icon {
                    color: var(--ion-color-green);
                }
            }
        }
    }
    .img_div {
        img {
            width: -webkit-fill-available;
            height: 250px;
        }
        position: relative;
        .name_div {
            position: absolute;
            padding: 0 16px;
            bottom: 0;
            width: 100%;
            .name {
                font-family: "Poppins-Medium";
                font-size: 20px;
                color: var(--ion-color-white);
            }
        }
    }
    .menu_div {
        position: relative;
        margin-top: 15px;
        padding-bottom: 10px;
        border-bottom: dashed 1px var(--ion-border-color);
        .tittle {
            font-size: 14px;
            font-family: "Poppins-Medium";
            color: var(--ion-color-darkBlue);
            margin: 0px;
            padding-right: 50px;
        }
        .address {
            font-size: 10.5px;
            font-family: "Poppins-Regular";
            color: var(--ion-color-darkgray);
            margin-top: 5px;
            margin-bottom: 3px;
            padding-right: 50px;
        }
        .open {
            font-size: 10.5px;
            font-family: "Poppins-Regular";
            color: var(--ion-color-green);
            margin: 0px;
            span {
                color: var(--ion-color-darkgray);
            }
        }
        .four {
            position: absolute;
            top: 2px;
            right: 0;
            .first_div {
                height: 22px;
                width: 30px;
                background-color: var(--ion-color-green);
                border-radius: 2px 2px 0px 0px;
                display: flex;
                justify-content: center;
                span {
                    font-size: 12px;
                    font-family: "Poppins-Regular";
                    color: var(--ion-color-white);
                }
            }
            .last_div {
                box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
                height: 22px;
                width: 30px;
                border-radius: 0px 0px 2px 2px;
                display: grid;
                justify-content: center;
                .ascii {
                    font-size: 8px;
                    font-family: "Poppins-Regular";
                    margin-top: 2.5px;
                    margin-bottom: 0px;
                    text-align: center;
                }
                .review {
                    font-family: "Poppins-Regular";
                    font-size: 6.5px;
                    color: var(--ion-color-darkgray);
                    text-align: center;
                    margin: 0px;
                }
            }
        }
    }
    .rating_div {
        margin-top: 16px;
        display: flex;
        .first_col {
            width: 20%;
            .rate {
                font-size: 12px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-darkgray);
                margin: 0px;
                text-align: center;
                ion-icon {
                    color: var(--ion-color-yellow);
                    margin-right: 3px;
                }
            }
            .rating {
                margin-top: 3px;
                font-size: 9.7px;
                font-family: "Poppins-Regular";
                text-align: center;
                color: var(--ion-color-darkgray);
            }
        }
        .dot_div {
            display: flex;
            justify-content: center;
            .dot {
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background-color: var(--ion-color-green);
                align-self: center;
            }
        }
    }
    .coopan_div {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--ion-color-sky);
        padding-left: 16px;
        display: -webkit-box;
        overflow: scroll;
    }
    .coopan_div::-webkit-scrollbar {
        display: none;
    }
    .toggle_div {
        display: flex;
        justify-content: space-around;
        .text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33.33%;
            font-size: 12px;
            color: var(--ion-color-black);
            font-family: "Poppins-Regular";
            display: flex;
            ion-toggle {
                padding-left: 7px;
                --background-checked: #8bc34a9c;
                --handle-background-checked: #8bc34a;
            }
            .last_toggle {
                --background-checked: var(--ion-color-toggle-red);
                --handle-background-checked: var(--ion-color-red);
            }
        }
    }
    .best_seller {
        .best_p {
            font-size: 14px;
            font-family: "Poppins-Medium";
            color: var(--ion-color-darkBlue);
        }
        ion-row {
             :nth-child(even) {
                padding-right: 0px;
            }
             :nth-child(odd) {
                padding-left: 0px;
            }
        }
        ion-col {
            position: relative;
            img {
                width: 100%;
                border-radius: 5px;
                height: 90px;
            }
            .exclusive_div {
                width: 48px;
                height: 15px;
                position: absolute;
                font-size: 8px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-white);
                background-color: var(--ion-color-btn-color);
                padding: 2px;
                top: 10px;
                text-align: center;
                text-transform: uppercase;
            }
            .item {
                font-size: 12px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-darkBlue);
                margin-top: 3px;
                margin-bottom: 0px;
            }
            .vote {
                font-size: 10.5px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-darkgray);
                margin: 0px;
                span {
                    margin-left: 5px;
                }
                ion-icon {
                    color: var(--ion-color-yellow);
                    margin-right: 3px;
                }
            }
            .price {
                font-size: 12px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-green);
                margin: 0px;
                span {
                    font-size: 10px;
                    font-family: "Poppins-Regular";
                    color: var(--ion-color-red);
                    text-decoration: line-through;
                }
            }
            ion-button {
                height: 20px;
                width: 57px;
                font-size: 8px;
                font-family: "Poppins-Regular";
                --color: var(--ion-color-green);
                --padding-start: 0px;
                --padding-end: 0px;
                --border-width: 1px;
                --border-color: var(--ion-color-light-gray);
                --border-radius: 2px;
                margin: 0px;
                margin-right: 8px;
                ion-icon {
                    margin-left: 5px;
                }
            }
            .add_div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .btn_store {
                    .btn_div {
                        margin-right: 8px;
                        display: flex;
                        border: solid 1px;
                        border-radius: 3px;
                        border-color: var(--ion-color-light-gray);
                        height: 23px;
                        width: 77px;
                        .add-btn {
                            --padding-start: 0px;
                            --padding-end: 0px;
                            margin: 0px;
                            width: 25px;
                            height: 20px;
                            --background: transparent;
                            --color: var(--ion-color-light-gray);
                            --box-shadow: none;
                            --border: none;
                            --ripple-color: var(--ion-color-white);
                            --background-activated: none;
                            ion-icon {
                                color: var(--ion-color-darkgray);
                                width: 15px;
                            }
                        }
                        .one {
                            width: 25px;
                            padding-top: 2px;
                            text-align: center;
                            font-size: 12px;
                            color: var(--ion-color-green);
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .special_div {
        margin-bottom: 10px;
        .best_p {
            font-size: 14px;
            font-family: "Poppins-Medium";
            color: var(--ion-color-darkBlue);
        }
        .combo_div {
            margin-bottom: 10px;
            position: relative;
            .add_div {
                display: flex;
                justify-content: space-between;
                .btn_store {
                    ion-button {
                        height: 20px;
                        width: 57px;
                        font-size: 8px;
                        font-family: "Poppins-Regular";
                        --color: var(--ion-color-green);
                        --padding-start: 0px;
                        --padding-end: 0px;
                        --border-width: 1px;
                        --border-color: var(--ion-color-light-gray);
                        --border-radius: 2px;
                        margin: 0px;
                        margin-right: 8px;
                        ion-icon {
                            margin-left: 5px;
                        }
                    }
                    .btn_div {
                        // position: absolute;
                        right: 0;
                        display: flex;
                        border: solid 1px;
                        border-radius: 3px;
                        border-color: var(--ion-color-light-gray);
                        height: 23px;
                        width: 77px;
                        .add-btn {
                            --padding-start: 0px;
                            --padding-end: 0px;
                            margin: 0px;
                            width: 25px;
                            height: 20px;
                            --background: transparent;
                            --color: var(--ion-color-light-gray);
                            --box-shadow: none;
                            --border: none;
                            --ripple-color: var(--ion-color-white);
                            --background-activated: none;
                            ion-icon {
                                color: var(--ion-color-darkgray);
                                width: 15px;
                            }
                        }
                        .one {
                            width: 25px;
                            padding-top: 2px;
                            text-align: center;
                            font-size: 12px;
                            color: var(--ion-color-green);
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
            .name {
                font-size: 12.5px;
                font-family: "Poppins-Medium";
                color: var(--ion-color-darkBlue);
                margin: 0px;
            }
            .type {
                font-size: 10.5px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-darkgray);
                margin: 0px;
                ion-icon {
                    color: var(--ion-color-yellow);
                }
                .star {
                    color: var(--ion-star-color);
                }
            }
            .price {
                font-size: 12px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-green);
                margin: 0px;
            }
            .detail {
                font-size: 10.5px;
                font-family: "Poppins-Regular";
                color: var(--ion-color-darkgray);
                margin: 0px;
            }
        }
        .menu_btn {
            height: 30px;
            width: 94px;
            --background: var(--ion-color-btn);
            font-size: 12px;
            font-family: "Poppins-Medium";
            --color: var(--ion-color-darkBlue);
            --background-activated: var(--ion-color-btn);
            --border-radius: 15px;
            --box-shadow: none;
            --color-activated: none;
        }
    }
}

ion-footer {
    ion-toolbar {
        --background: var(--ion-color-green);
        p {
            color: var(--ion-color-white);
            font-size: 14px;
            font-family: "Poppins-Medium";
            ion-icon {
                margin-left: 5px;
            }
        }
    }
}

.container {
    position: relative;
    width: 155px;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.16);
    display: flex;
    margin-right: 10px;
}

section {
    display: inline-block;
    vertical-align: middle;
}

.container .left:before {
    content: "";
    background-color: var(--ion-color-sky);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    left: 38px;
}

.container .left:after {
    content: "";
    background-color: var(--ion-color-sky);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
    left: 38px;
}

.container .left {
    padding: 5px 10px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0px;
    width: 40%;
}

.container .right {
    padding: 5px 5px 5px 0px;
    width: 60%;
}

.left_p {
    color: var(--ion-color-red);
    font-family: "Poppins-Regular";
    font-size: 11px;
    margin-top: 5px;
    width: 70%;
}

.right_p {
    font-family: "Poppins-Regular";
    color: var(--ion-color-darkgray);
    font-size: 11px;
    margin-top: 5px;
}
.ion-padding-horizontal{
    --background: #FFA737 !important;
    border-radius: 10px;
}
ion-footer {
    display: block;
    position: fixed;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    z-index: 10;
   
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease all;
    bottom: 0;
    transform: scale(0);
}
.display-cart{
    bottom: 10%;
    transform: scale(1.0);
}