// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** primary **/
    --ion-color-primary: #f04b31;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;
    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    // custom color
    --ion-color-black: #333333;
    --ion-color-white: #ffffff;
    --ion-color-green: #94B92D;
    --ion-toggle-color: #f05b2a8f;
    --ion-color-solid-green: #599a30;
    --ion-color-light-green: #f05b2a54;
    --ion-color-darkBlue: #1b1464;
    --ion-color-placeholder: #c2c2c2;
    --ion-color-gray: #a7a7a7;
    --ion-color-facebook-btn: #465a95;
    --ion-color-twiter-btn: #0baafc;
    --ion-color-google-btn: #f65a5b;
    --ion-color-red: #ff2e31;
    --ion-color-toggle-red: #ff8183;
    --ion-color-borderline: #bcb2b27d;
    --ion-color-darkgray: #b5b5b5;
    --ion-color-sky: #f4f7f9;
    --ion-color-yellow: #f05b2a;
    --ion-color-btn-color: #fc5759;
    --ion-color-light-gray: #e2e2e2;
    --ion-border-color: #d4d4d4;
    --ion-color-order-gray: #959595;
    --ion-color-lbl-color: #f05b2a4a;
    --ion-color-border-red: #d32c29;
    --ion-star-color: #cfcfcf;
    --ion-color-btn: #e5eaf0;
    --ion-btn-color: #ffb3b4;
    --ion-btn-green: #d8e6b3;
    --star: #fec92b;
    --light-gray: #d3d6da;
    --timeline: linear-gradient( to bottom, #fff0, #b9b9b9ba, #777, #3b3b3be0, #000);
    --green-color: #94B92D;
    --filter-color: #848c9f;
    --light-black-color: #1b1464;
    --border-color: #758faa;
    --search-color: #b5b5b5;
    --light-green-color: #9e9e9e21;
    --fb-color: #1976d2;
    --google-color: #f45246;
    --red-color: #ff2e31;
    --coupon_green: #357219;
    --cart_btn: #009688;
    --img_back: #ebf5ff;
    --divder: #f1f4f6;
}

@font-face {
    font-family: "PlayfairDisplay_Bold";
    src: url("../assets/Fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("../assets/Fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("../assets/Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../assets/Fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
    font-family: "Poppins-Italic";
    src: url("../assets/Fonts/Poppins/Poppins-Italic.ttf");
}

@font-face {
    font-family: "ComicSansMS";
    src: url("../assets/Fonts/ComicSansMS/comic.ttf");
}

@font-face {
    font-family: "Helvetica-Neue";
    src: url("../assets/Fonts/helvetica/HelveticaNeue-MediumCond.otf");
}

@font-face {
    font-family: "BarlowCondensed-Bold";
    src: url("../assets/Fonts/barlow/BarlowCondensed-Bold.ttf");
}

@font-face {
    font-family: "WorkSans-Medium";
    src: url("../assets/Fonts/WorkSans/WorkSans-Medium.ttf");
}

@font-face {
    font-family: "WorkSans_Regular";
    src: url("../assets/Fonts/WorkSans/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "fivo-regular";
    src: url("../assets/Fonts/fivosans/FivoSans-Regular.otf");
}

@font-face {
    font-family: "fivo-medium";
    src: url("../assets/Fonts/fivosans/FivoSans-Medium.otf");
}

@font-face {
    font-family: "fivo-oblique";
    src: url("../assets/Fonts/fivosans/FivoSans-Oblique.otf");
}