ion-header {
  ion-buttons {
    ion-button {
      ion-icon {
        color: var(--ion-color-darkBlue);
      }
    }
  }
}

ion-content {
  [custom-chckbox] {
    height: 20px;
    width: 20px;
    --background-checked: var(--ion-color-darkBlue) !important;
    --border-color-checked: var(--ion-color-darkBlue) !important;
  }
  ion-item {
    ion-label {
      white-space: normal;
      .title {
        font-size: 14px;
        font-family: "Poppins-Medium";
      }
      .address-text {
        font-size: 13px;
        font-family: "Poppins-Regular";
      }
    }
  }
  ion-item-option {
    width: 68px;
    text-transform: capitalize;
    font-family: "Poppins-Medium";
  }
  .editBtn {
    background-color: var(--ion-color-green);
  }
  .setaddress_btn {
    width: 91.7%;
    margin: 16px;
  }
}
