ion-content {
  .back-btn {
    --color: var(--ion-color-darkBlue);
    height: 19px;
    margin: 0;
  }
  .edit_btn {
    height: 19px;
    width: 35px;
    margin: 0;
    ion-icon {
      height: 18px;
      width: 18px;
      color: var(--ion-color-darkBlue);
    }
  }
  .first_div {
    margin-top: 15px;
    height: 25px;
    margin-bottom: 10px;
    ion-icon {
      margin-left: 10px;
    }
  }
  .lbl_tittle {
    font-size: 16px;
    font-family: "Poppins-Medium";
    color: var(--ion-color-green);
  }

  .header_div {
    display: flex;
    margin-bottom: 20px;
    .shap_div {
      box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    }
    .img_div {
      width: 65px;
      height: 65px;
      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: solid 3px var(--ion-color-white);
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
      }
      .shadow {
        -webkit-filter: drop-shadow(0px 0px 2px #000000d6);
      }
    }
    #hexagon {
      width: 100px;
      height: 55px;
      background: red;
      position: relative;
      margin: auto;
    }
    #hexagon:before {
      content: "";
      position: absolute;
      top: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 25px solid red;
    }
    #hexagon:after {
      content: "";
      position: absolute;
      bottom: -25px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 25px solid red;
    }
    .name_div {
      padding-left: 20px;
      padding-top: 6px;
      .name {
        font-size: 22px;
        font-family: "Poppins-SemiBold";
        color: var(--ion-color-green);
        margin: 0;
      }
      .location {
        font-family: "Poppins-Regular";
        font-size: 16px;
        color: var(--ion-color-darkgray);
        margin: 0;
        ion-icon {
          margin-right: 7px;
        }
      }
    }
  }

  ion-item {
    padding-left: 10px;
    ion-icon {
      color: var(--ion-color-green);
    }
  }
}
ion-footer {
  .footer_div {
    margin: 15px 20px;
    color: var(--ion-color-white);
    display: flex;
    justify-content: space-between;
    ion-icon {
      height: 14px;
      width: 16px;
      margin-right: 5px;
    }
    ion-label {
      font-size: 16px;
      font-family: "Poppins-Medium";
      display: flex;
      align-items: center;
      color: var(--ion-color-green);
    }
  }
}

.active {
  --background: var(--ion-color-sky);

  .lbl_tittle {
    color: var(--ion-color-darkBlue);
  }
  ion-icon {
    color: var(--ion-color-darkBlue) !important;
  }
}
