ion-header {
    ion-toolbar {
        ion-title {
            font-family: "fivo-regular";
            text-transform: uppercase;
        }
        ion-back-button {
            color: var(--ion-color-green);
        }
    }
}

ion-content {
    .status {
        font-size: 12px;
        font-family: "fivo-regular";
        color: var(--ion-color-green);
        align-self: center;
    }
    .main_heading {
        font-size: 16px;
        font-family: "fivo-medium";
        color: var(--ion-color-darkBlue);
    }
    .card_div {
        border-radius: 5px;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
        padding: 5px 10px 13px 10px;
        margin-bottom: 20px;
        ion-item {
            padding-top: 10px;
            --padding-start: 0px;
            --inner-padding-end: 0;
            margin-bottom: 10px;
            border-bottom: dashed 1px var(--ion-border-color);
            padding-bottom: 10px;
            img {
                border-radius: 3px;
                height: 56px;
                width: 56px;
                object-fit: scale-down;
            }
            .status {
                font-size: 12px;
                font-family: "fivo-regular";
                color: var(--ion-color-green);
                align-self: center;
            }
            ion-label {
                margin-left: 10px;
                margin-bottom: 0px;
                margin-top: 2px;
                .name {
                    font-size: 14px;
                    font-family: "fivo-medium";
                    color: var(--ion-color-darkBlue);
                    display: flex;
                    justify-content: space-between;
                }
                .address {
                    font-size: 10px;
                    font-family: "fivo-regular";
                    color: #758faa;
                    line-height: 15px;
                    width: 160px;
                }
            }
        }
        .menu {
            font-size: 12px;
            font-family: "fivo-regular";
            color: var(--border-color);
        }
        .order {
            color: var(--light-black-color);
            font-size: 12px;
            font-family: "Poppins-Medium";
        }
        .order_btn {
            --color: var(--ion-color-red);
            font-size: 12px;
            --color-activated: none;
            --background-activated: none;
            --ripple-color: var(--ion-color-white);
            --background-focused: none;
        }
        .order_Date {
            margin-bottom: 10px;
        }
    }
}

.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    white-space: normal !important;
}

.item.sc-ion-label-ios-h,
.item .sc-ion-label-ios-h {
    white-space: normal !important;
}