ion-content{
    ion-slides {
        height: 550px;
            ion-slide {
                display: block;
                height: 375px;
                .img_div{
                    margin-top: 60px;
                    margin-left: 16px;
                    margin-right: 16px;
                .slide_name{
                    font-size: 22px;
                    font-family: 'Poppins-SemiBold';
                    color: var(--ion-color-darkBlue);
                    margin-top: 70px;
                }
                .slide_info{
                    font-size: 16px;
                    font-family: 'Poppins-Regular';
                    color: var(--ion-color-darkgray);
                }
            
            }
        }
      
    }
    .skip{
        margin: 0px;
        height: 46px;
        width: 100px;
        font-size: 16px;
        font-family: 'Poppins-Medium';
        --background:var(--ion-color-green);
        --border-radius: 24px 0px 0px 24px;
    }
}







.slides-md {
    --bullet-background: var(--ion-color-green)!important;
    --bullet-background-active: var(--ion-color-green)!important;
}

.slides-ios {
    --bullet-background: var(--ion-color-green)!important;
    --bullet-background-active: var(--ion-color-green)!important;
}