
<ion-header no-border>
    <ion-toolbar mode="md">
      <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
       <div class="heading">
        <ion-label class="ion-text-uppercase">{{"cart_page.title" | translate}}</ion-label>
       </div>
        
    </ion-toolbar>
</ion-header>
<ion-content >
    <div no-data *ngIf="data?.cartData.length == 0">
        <img src="../../../assets/image/no-data-icon-10.jpg" alt="no data">
    </div>
    <div *ngIf="data.cartData.length>0" >
  
    <ion-item lines="none" class="combo_item" *ngFor="let item of data?.cartData">
        <h3 class="combo">
            <span class="item_span">{{item?.name}}</span>
        </h3>
        <span class="price ion-float-right" slot="end">{{currency}}{{item?.price}}</span>
        <div class="btn_div" slot="end">
            <ion-button class="add-btn" (click)="minusQty(item)">
                <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-label class="one">
                {{item?.qty}}
            </ion-label>
            <ion-button class="add-btn" (click)="addtocart(item)">
                <ion-icon name="add" class="add"></ion-icon>
            </ion-button>
        </div>
    </ion-item>
    <ion-item lines="none" (click)="applyCoupon()">
        <h3 slot="start" class="combo">
            <ion-icon src="assets/icon-image/persentage.svg"></ion-icon> {{"cart_page.apply_coupon" | translate}}
        </h3>
        <ion-icon class="direction" name="ios-arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <div class="devider"></div>
    <div class="bill_detail ion-margin-horizontal">
        <h3 class="combo">
            {{"cart_page.bill_details" | translate}}
        </h3>
        <p class="bill_item">
            {{"cart_page.item_total" | translate}}
            <span class="ion-float-right">{{currency}}{{itemTotal}}</span>
        </p>

        <p class="total">
            {{"cart_page.total_discount" | translate}}<span class="ion-float-right">-{{currency}}{{data?.discount}}</span>
        </p>
        <p class="bill_item">
            {{"cart_page.restaurant_charges" | translate}}<span class="ion-float-right">{{currency}}{{rastaurant_charge}}</span>
        </p>
        <p class="bill_item">
            {{"cart_page.delivery_fee" | translate}}<span class="ion-float-right">{{currency}}{{delivery_charge}}</span>
        </p>
        <p class="bill_item cancel_fee">
            {{"cart_page.cancellation_fee" | translate}}<span class="ion-float-right">{{currency}}{{canelCharge}}</span>
        </p>
        <p class="bill_item">
            {{"cart_page.to_pay" | translate}}<span class="ion-float-right">{{currency}}{{toPay}}</span>
        </p>
        <div class="saved">
            <span>{{"cart_page.saved_text.txt1" | translate}} {{currency}}{{data?.discount}} {{"cart_page.saved_text.txt2" | translate}}</span>
        </div>
    </div>
    <div class="devider"></div>
    <div class="last_div ion-margin-horizontal">
        <h3 class="combo">{{"cart_page.select_address" | translate}}</h3>

        <div class="address_div">
            <div class="pin_div">
                <ion-icon name="pin"></ion-icon>
            </div>
            <div class="adress">
                <p class="adress_p">
                    {{data?.Deafult_address?.soc_name}} {{data?.Deafult_address?.street}} {{data?.Deafult_address?.city}} {{data?.Deafult_address?.zipcode}}
                </p>
            </div>
            <div class="change">
                <ion-button class="trans-btn change_ad" (click)="change_Address()">{{"cart_page.change_address_btn" | translate}}</ion-button>
            </div>
        </div>
        <div #map id="map"></div>
    </div>
</div>
</ion-content>
<ion-footer *ngIf="data.cartData.length>0">
  <ion-row>
      <ion-col size="6">
        <button class="pay-info" >
            <ion-label class="bill_item">
                {{"cart_page.to_pay" | translate}}
            </ion-label>  <br/>
            <ion-label class="price">{{currency}}{{toPay}}</ion-label>
        </button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="otp_btn" (click)="payment_method()">
            {{"cart_page.select_pay_method" | translate}}
        </ion-button>
      </ion-col>
  </ion-row>
</ion-footer>