ion-content {
  .item_div {
    img {
      border-radius: 3px;
      margin-right: 10px;
      height: 56px;
      width: 56px;
    }
    .name {
      font-size: 14px;
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
    }
    .adress {
      font-size: 10px;
      font-family: "Poppins-Regular";
      color: var(--ion-color-darkgray);
      line-height: 15px;
    }
  }
  .combo_item {
    border-bottom: dashed 1px var(--ion-border-color);
    .item_span {
      margin-right: 5px;
    }
  }
  .combo {
    font-family: "Poppins-Medium";
    font-size: 12px;
    color: var(--ion-color-darkBlue);
  }
  .direction {
    height: 13px;
    width: 13px;
  }
  .price {
    font-size: 12px;
    font-family: "Poppins-Medium";
    color: #FFA737;
  }
  .btn_div {
    display: flex;
    border: solid 1px;
    border-radius: 3px;
    border-color: var(--ion-color-light-gray);
    height: 25px;
    width: 77px;
    margin-left: 10px;
    .add-btn {
      --padding-start: 0px;
      --padding-end: 0px;
      margin: 0px;
      width: 25px;
      height: 24px;
      --background: transparent;
      --color: var(--ion-color-dark-gray);
      --box-shadow: none;
      --border: none;
      --ripple-color: var(--ion-color-white);
      --background-activated: none;
      ion-icon {
        color: var(--ion-color-darkgray);
        width: 15px;
      }
      .add {
        color: #FFA737;
      }
    }
    .one {
      width: 25px;
      padding-top: 1px;
      text-align: center;
      font-size: 12px;
      color: #FFA737;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .devider {
    background-color: var(--ion-color-sky);
    height: 15px;
  }
  .bill_detail {
    .bill_item {
      font-size: 10px;
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
    }
    .total {
      color: #FFA737;
      font-size: 10px;
      font-family: "Poppins-Medium";
      border-bottom: dashed 1px var(--ion-border-color);
      margin-bottom: 0px;
      padding-bottom: 10px;
    }
    .cancel_fee {
      margin-bottom: 0px;
      padding-bottom: 10px;
      border-bottom: dashed 1px var(--ion-border-color);
    }
    .saved {
      background-color: var(--ion-color-green);
      border: dashed 1px var(--ion-color-green);
      height: 26px;
      color: #fff;
      font-size: 10px;
      font-family: "Poppins-Medium";
      padding: 5px;
      margin-bottom: 15px
    }
  }
  .last_div {
    .address_div {
      display: flex;
      .pin_div {
        padding-top: 3px;
        width: 8%;
        ion-icon {
          color: #FFA737;
        }
      }
      .adress {
        width: 66%;
        .adress_p {
          font-size: 12px;
          font-family: "Poppins-Regular";
          color: var(--ion-color-darkgray);
          margin-top: 0;
          margin-bottom: 7px;
        }
      }
      .change {
        display: flex;
        width: 24%;
        .change_ad {
          font-size: 9px;
          font-family: "Poppins-Regular";
          --color: #FFA737;
          text-transform: capitalize;
          height: 15px;
          margin: 0;
          --ripple-color: var(--ion-color-white);
          --color-activated: none;
        }
      }
    }
    #map {
      height: 140px;
      margin-bottom: 20px;
    }
  }
}
ion-list-header{
  font-size: 20px;
    border-bottom: 1px solid #eee;
    // margin-bottom: 20px;
}
.otp_btn{
  --background:#0D1080;
  width: 100%;
  font-size: 13px;
}
ion-col{
  padding: 0;
}
.pay-info{
  --background: #fff;
  --color: #000;
  width: 100%;
  font-size: 14px;
  height: 100%;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  font-weight: 600;
  font-family: 'Poppins-Regular';
}
.pay-info .price{
  margin-left: 5px;
}
// ion-header{
//   height: 130px;
// }
// ion-list-header {
//   font-size: 20px;
//   border-bottom: 1px solid #eee;
//   /* margin-bottom: 20px; */
//   position: absolute;
//   top: 20px;
//   z-index: 1000;
//   left: 50px;
// }

