<ion-content class="ion-padding-bottom" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div class="heade_div" [style.backgroundImage]="'url('+(data?.cover_image ?  data?.imagePath + data?.cover_image : 'http://placehold.it/200x200' )+')'">
        <div class="back_layer">
            <ion-header no-border>
                <ion-toolbar mode="md" [style.backgroundColor]="state == 1 ? '' : 'rgba(0,0,0,0.7)'" mode="md">

                    <ion-buttons slot="end">
                        <ion-button (click)="cart()">
                            <ion-icon src="../../../assets/icon-image/white_cart.svg"></ion-icon>
                        </ion-button>
                        <ion-back-button defaultHref="home" icon="ios-arrow-back" text=""></ion-back-button>
                    </ion-buttons>
                    <ion-title>{{data?.name}}</ion-title>
                </ion-toolbar>

            </ion-header>
            <div class="profile_div">

                <img [src]="data?.imagePath + data?.image">
                <h3 class="time">{{"store_detail.today" | translate}}, {{data?.open_time}} - {{data?.close_time}}
                </h3>


            </div>
            <div class="ion-margin-horizontal">
                <ion-searchbar placeholder="{{'store_detail.searchPlace' | translate}}" clearIcon="string" [(ngModel)]="term">
                </ion-searchbar>
            </div>
        </div>
    </div>

    <h3 class="main_lbl">{{"store_detail.product" | translate}}
        <ion-button *ngIf="data?.product.length != 0" class="trans-btn more_btn" (click)="viewMore()">{{"store_detail.view_more" | translate}}
        </ion-button>
    </h3>
    <div class="trending_div">
        <div class="product_div" *ngFor="let item of data?.product | filter:term">
            <div class="img_div" (click)="storeDetail(item?.id)">
                <img [src]="item?.imagePath + item?.image">


            </div>
            <h3 class="name">{{item?.name |slice:0:20}} <span *ngIf="item?.name?.length >20">..</span></h3>
            <p class="qunty vote">{{item?.weight}}
                <!--     {{item?.categoryName}} -->
                <span>
                    <ion-icon name="star"></ion-icon>{{item?.rate}} {{"store_detail.votes" | translate}}
                    <!-- {{'restaurant_detail_page.votes' | translate}} -->
                </span>
            </p>
            <div class="btn_div">
                <div class="qty_div">
                    <ion-button class="add_btn trans-btn" (click)="remove(item)">
                        <ion-icon src="../../../assets/icon-image/minus-sign.svg">

                        </ion-icon>
                    </ion-button>
                    <p class="qty_p">
                        {{item?.qty}}

                    </p>
                    <ion-button class="add_btn trans-btn" (click)="AddCart(item)">
                        <ion-icon src="../../../assets/icon-image/plus-signs.svg">

                        </ion-icon>
                    </ion-button>
                </div>
                <p class="price">{{currency}}{{item?.sell_price}}</p>
            </div>

        </div>
    </div>
    <h3 class="main_lbl">{{"store_detail.category" | translate}} {{data.currency}}
    </h3>
    <div class="categories_div">
        <div class="product_div" *ngFor="let item of data.category | filter:term" (click)="subcategory(item?.id)">
            <img [src]="item?.imagePath + item?.image">
            <h3 class="name">{{item?.name}}</h3>
        </div>
    </div>
</ion-content>