.list {
  display: flex;
  align-items: center;
  margin: 0px 16px;
  border-bottom: 1px dashed var(--ion-border-color);
  padding: 10px 0px;
  img {
    border-radius: 50%;
    border: 3px solid var(--ion-color-white);
    box-shadow: 0px 0px 4px 0px #000000a3;
    height: 55px;
    width: 55px;
  }
  .flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    .username {
      font-size: 16px;
      font-family: "Poppins-Medium";
      color: var(--ion-color-darkBlue);
      margin: 0;
    }
    .date {
      font-size: 12px;
      font-family: "Poppins-Regular";
      color: var(--ion-color-placeholder);
      margin: 0;
    }
  }
  .desc {
    font-size: 14px;
    font-family: "Poppins-Medium";
    color: var(--ion-color-placeholder);
    margin: 0;
  }
  .stars {
    margin: 0;
    font-size: 15px;
    margin-top: 1px;
    margin-bottom: 1px;
    ion-icon {
      color: var(--star);
    }
  }
}
