ion-content {
  .main_div {
    .container {
      position: relative;
      width: 100%;
      background-color: #fff;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.16);
      display: flex;
      margin-top: 20px;
      border-radius: 5px;
    }

    section {
      display: inline-block;
      vertical-align: middle;
    }
    .container .left:before {
      content: "";
      background-color: var(--ion-color-sky);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      top: -3px;
      left: 23.5%;
    }

    .container .left:after {
      content: "";
      background-color: var(--ion-color-sky);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      bottom: -3px;
      left: 23.5%;
    }

    .container .left {
      padding: 5px 10px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 0px;
      width: 25%;
      border-right: dashed 1px var(--ion-color-black);
      display: flex;
      justify-content: center;
      align-items: center;
      .promo_div {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: var(--ion-color-green);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .container .right {
      padding: 5px 10px 5px 10px;
      width: 75%;

      .tittle {
        font-size: 16px;
        font-family: "Poppins-SemiBold";
        color: var(--ion-color-darkBlue);
        margin-top: 10px;
        margin-bottom: 0px;
      }
      .discount {
        font-size: 12px;
        font-family: "Poppins-Regular";
        color: var(--ion-color-gray);
        margin-top: 3px;
        margin-bottom: 3px;
      }
      .last_div {
        display: flex;
        justify-content: space-between;
        .coopan_div {
          height: 20px;
          border: dashed 1px var(--ion-color-border-red);
          background-color: var(--ion-color-lbl-color);
          padding: 3px 8px;
          .coopan {
            font-size: 10px;
            font-family: "WorkSans_Regular";
            color: var(--ion-color-black);
            margin: 0px;
          }
        }
        .trans-btn {
          font-size: 10px;
          font-family: "Poppins-Medium";
          --color: var(--ion-color-green);
          margin: 0px;
          height: 30px;
          --ripple-color: var(--ion-color-white);
          --color-activated: none;
        }
      }
    }
  }
}
